*{
	color: #333;
}

#containar{
	margin: 20px;	
}
#containar h1{
	font-size: 3em;
	color: #80A92B;
	font-weight: bold;
	margin-left: 20px;
	border-bottom: 2px dotted #999;
}

ul#navigation{
	margin: 10px 20px; 
}
ul#navigation li{
	display: inline; 
}

table#tagtable{
	margin: 20px;
	border-collapse: none;
}
table#tagtable th,table#tagtable td{
	padding: 5px;
	border: 1px solid #999;
}
table#tagtable th{
	background: #80A92B;
	color: #fff;
}
table#tagtable td.name{
}
table#tagtable td.count{
	text-align: right;
}

div#result{
	margin: 20px 0 0 30px;	
}
div#result p{
	line-height: 2em;
}
div#result ul{
}
div#result li{
	margin: 1px solid #80A92B;
	padding: 5px;
	font-size: 1.5em;
	line-height: 2em;
	display: inline;
}
div#result li span.tagname{
	padding: 5px;
}

div#result li form{
	display: inline;
}
div#result li input[type=text]{
	font-size: 0.9em;
	background: #ffffd3;
	padding: 2px;
	width:150px;
}
div#result li input[type=submit],div#result li input[type=button]{
	color: #fff;
	font-weight: bold;
	background: #f00;
	border: 1px solid #fff;
	font-size: 0.9em;
	padding: 0;
	margin: 0;
}

div#result a:link span.tagname, div#result a:visited span.tagname, div#result a:active span.tagname{
	text-decoration: none;
	border: none;
}
div#result a:hover span.tagname{
	text-decoration: none;
	border: none;
}

div#message{
	margin:10px;
	padding:5px;
	background: #f00;
	color: #fff;
}

/* group login */
#login h1{
	color: #80A92B;
	font-weight: bold;
	font-size: 3em;
}

#login form{
/*	position:absolute;
	width:280px;
	height:120px;
	left:50%;
	top:30%;
	margin-left:-140px;
	margin-top:-60px;
	background:#fff;
	color:#999;
	border: 10px solid #999;
	padding: 10px;*/
}

#login div.login_form{
	width: 300px;
	margin: auto;
	margin-top: 80px;	
	border: 10px solid #999;
	padding: 10px;
}
#login p label {
	font-size:14px;
	padding-top:3px;
}

#login label {
	display:block;
	float:left;
	width:80px;
}

#login p.remember_me {
	margin:10px 0pt 0pt;
}

#login div.submit{
	margin:10px 0pt 0pt;
	text-align: right;
}

#login div.submit input[type=submit]{

	text-align: right;
	font-size: 2em;
	font-weight: bold;
	padding: 5px;
}